*.aux
*.bbl
*.blg
*.lof
*.log
*.lot
*.out
*.gz
*.toc
*.bib
*.tex
agglomerate_render.py
rupture_render.py
setup.py
__init__.py
**/__pycache__
old_code
thesis/Chapters
thesis/Configuration_Files
thesis/Data
thesis/Images
.DS_Store